{%- extends "base.html" %}
{%- block title %}Container escape{% endblock %}
{%- block users_menu %}active{% endblock %}
{%- block content %}
    <div class="container">
        <script defer>
            var currentUserId = -1;

            window.onload = () => {
                let submitUserInputs = ['#loginInput', '#passwordInput', '#rePasswordInput']
                let changePasswordInputs = ['#changePasswordInput', '#changeRePasswordInput']

                submitUserInputs.forEach( (input) => {
                    $(input)[0].addEventListener('keyup', (e) => {
                        if (e.keyCode === 13)
                            submitNewUser()
                    })
                })

                changePasswordInputs.forEach( (input) => {
                    $(input)[0].addEventListener('keyup', (e) => {
                        if (e.keyCode === 13)
                            changeUserPassword()
                    })
                })
            }

            const validatePassword = (password, repassword) => {
                if (password.length < 8)
                    return `<div class="alert alert-danger" role="alert">Password is too short (min. 8 characters)</div>`;

                if (password.length > 72)
                    return `<div class="alert alert-danger" role="alert">Password is too long (max. 72 characters)</div>`

                if (password != repassword)
                    return `<div class="alert alert-danger" role="alert">Passwords doesn't match</div>`
                
                return null;
            }

            const submitNewUser = () => {
                let login = $("#loginInput").val()
                let password = $("#passwordInput").val()
                let repassword = $("#rePasswordInput").val()

                let error = validatePassword(password, repassword)
                if (error != null) {
                    $("#newUserAlert").html(error)
                    return
                }

                (async () => {
                    const rawResponse = await fetch('/api/users/create', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({'login': login, 'password': password}),
                        credentials: 'include'
                    })
                    const content = await rawResponse.json()
                    if (content['message'] == 'error') {
                        $("#newUserAlert").html('<div class="alert alert-danger" role="alert">Error occured while adding new user</div>')
                    } else {
                        window.location.reload(true);
                    }
                })();
            }

            const deleteUser = (id) => {
                (async () => {
                    const rawResponse = await fetch('/api/users/delete/' + id, {
                        credentials: 'include'
                    })
                    const content = await rawResponse.json()
                    if (content['message'] == 'error') {
                        // TODO
                    } else {
                        window.location.reload(true);
                    }
                })();
            }

            const toggleChangePasswordModal = (id) => {
                currentUserId = id
                $('#changePasswordModal').modal('show')
            }

            const changeUserPassword = () => {
                let oldPassword = $("#oldPasswordInput").val()
                let password = $("#changePasswordInput").val()
                let repassword = $("#changeRePasswordInput").val()

                let error = validatePassword(password, repassword)
                if (error != null) {
                    $("#changePasswordAlert").html(error)
                    return
                }

                if (currentUserId !== -1){
                    (async () => {
                        const rawResponse = await fetch('/api/users/change/' + currentUserId, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({'old_password': oldPassword, 'password': password, 'repassword': repassword}),
                            credentials: 'include'
                        })
                        const content = await rawResponse.json()
                        if (content['message'] == 'error') {
                            $("#changePasswordAlert").html('<div class="alert alert-danger" role="alert">Error occured while adding new user</div>')
                        } else {
                            $('#changePasswordModal').modal('hide')
                        }
                    })();
                }
            }
        </script>
        <h2>Users</h2>
        <hr>
        <button type="button" class="btn btn-secondary" style="margin-bottom: 10px;" data-toggle="modal" data-target="#newUsersModal">Add new user</button>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Login</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {%- for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.login }}</td>
                    <td>
                        <button type="button" class="btn btn-light" onClick="toggleChangePasswordModal({{ user.id }})">Change password</button>
                        {%- if user.login != 'admin' %}
                        <button type="button" class="btn btn-danger" onClick="deleteUser({{ user.id }})">Delete</button>
                        {%- endif %}
                    </td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
        <div class="modal fade" id="newUsersModal" tabindex="-1" role="dialog" aria-labelledby="newUsersModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newUsersModalLabel">New user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="loginInput" placeholder="Enter login">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="passwordInput" placeholder="Enter password (from 8 to 72 characters)">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="rePasswordInput" placeholder="Repeat password">
                        </div>
                        <div id="newUserAlert"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onClick="submitNewUser()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="password" class="form-control" id="oldPasswordInput" placeholder="Enter old password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="changePasswordInput" placeholder="Enter new password (from 8 to 72 characters)">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="changeRePasswordInput" placeholder="Repeat new password">
                        </div>
                        <div id="changePasswordAlert"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onClick="changeUserPassword()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}